<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simple" type="AppConfigOper.SimpleConfig,AppConfigOper"/>
    <sectionGroup name="MySectionGroup">
      <section name="MyFirstSection" type="System.Configuration.DictionarySectionHandler"/>
      <section name="MySecondSection" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <simple maxValue="20" minValue="100"></simple>
  <MySectionGroup>
    <MyFirstSection>
      <add key="First" value="First Section"/>
    </MyFirstSection>
    <MySecondSection>
      <add key="Second" value="Second Section"/>
    </MySecondSection>
  </MySectionGroup>

  <appSettings>
    <add key="ServerIp" value="127.0.0.1"/>
  </appSettings>
  <connectionStrings>
    <add name ="123" connectionString="456"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy
        enabled="false"
        useDefaultCredentials="false" >
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
    <connectionManagement>
      <!--<add address = "http://www.wg.net.pl" maxconnection = "4" />-->
      <add address = "*" maxconnection = "512" />
    </connectionManagement>
  </system.net>
</configuration>